{% extends "admin/adminTemplate.html" %}
{% load static %}


{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Views
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="./admin">Admin</a></li>
          <li><a class="dropdown-item" href="./professor">Professeur / Superviseur</a></li>
          <li><a class="dropdown-item" href="./student">Etudiant</a></li>
        </ul>
    </div>



    
        {% if current_view == "admin" %}
        <div class="col-md-6 d-flex align-items-center">
            <!-- Tableau Admin -->
            {% if 'admin' in user.role.role %}
            {% if admin_people %}
            <div class="table-container d-flex justify-content-center">
                <!-- Votre code de tableau ici -->
                <table class="table-striped text-center">
                            <thead>
                                <tr>
                                    {% for field in admin_and_superviseur_title %}
                                    <th>{{ field }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin in admin_people %}
                                <tr>
                                    <td class="myTableTitle"><a href="../../../polls/fiche"> {{admin.nom}} {{ admin.prenom }}</a></td>
                                    <td>{{ admin.mail }}</td>
                                    <td>{% for role in admin.role.role %}
                                        {{ role }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}

        {% if current_view == "professor" %}
        <div class="col-md-6 d-flex align-items-center">
            <!-- Tableau Prof/Superviseur -->
            {% if 'admin' in user.role.role %}
            {% if professeur_superviseur_people %}
            <form method="post">
            {% csrf_token %}
            <div class="table-container d-flex justify-content-center">
                <!-- Votre code de tableau ici -->
                <table class="table-striped text-center">
                    <thead>
                        <tr>
                            {% for field in manage_roles_title %}
                            <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for pers in professeur_superviseur_people %}
                        
                        <tr>
                            <td class="myTableTitle"><a href="../../../polls/fiche/">{{pers.0.nom}} {{ pers.0.prenom }}</a></td>
                            <td>{{ pers.0.mail }}</td>
                            
                            <td>
                                {% if "professeur" in pers.0.role.role %}
                                    {{ pers.1.prof }}
                                {% else %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                                
                                {% endif %}
                            </td>
                            <td>
                                {% if "superviseur" in pers.0.role.role %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                </div>
                                {% else %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <button type="submit">Save</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}

        {% if current_view == "student" %}
        <div class="col-md-6 d-flex align-items-center">
            <!-- Tableau Etudiant -->
            {% if 'admin' in user.role.role %}
            {% if etudiant_people %}
            <div class="table-container d-flex justify-content-center">
                <!-- Votre code de tableau ici -->
                <table class="table-striped text-center">
                            <thead>
                                <tr>
                                    {% for field in etudiant_title %}
                                    <th>{{ field }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for etu in etudiant_people %}
                                <tr>
                                    <td class="myTableTitle"><a href="../../../polls/fiche">{{etu.idpersonne.nom}} {{ etu.idpersonne.prenom }}</a></td>
                                    <td>{{ etu.idpersonne.mail }}</td>
                                    <td>{{ etu.bloc}}</td>
                                    <td>{% for role in etu.idpersonne.role.role%}
                                        {{ role }}
                                        {%endfor%}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
    
    
    
</div>
{% endblock %}


