{% extends "basic.html" %}
{% load static %}
<head>
    <title>Form</title>
</head>
<body>

{% block sidebar %}
<div class="offcanvas-header">
    <img src="{% static 'image/logo.png'%}" alt="UNamur" style="width:30%">
    <img src="{% static 'image/LApims.png'%}" alt="pimsLogo" style="width:50%">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>
<div class="offcanvas-body">
    <div class="col">
        <div>
            <p class="h4">{{ UE }}</p>
        </div>
        <div class="navbar-nav w-100">
            <a class="nav-link cader" aria-current="page" href="#">Administration</a>
            <a class="nav-link cader" href="../topics/">Topics</a>
            <a class="nav-link cader" href="#">My topics</a>
            <a class="nav-link cader active" href="../new/">Add topic</a>
        </div>
   </div>
</div>
{% endblock sidebar%}


{% block content%}
<div class="col-auto"></div>
<div class="col-auto">
    <!-- l'enchainement des classes de bootsrap permet d'aligner les éléments au centre -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row align-self-center">
        <form  id="myForm" action="../polls/subject" method="post">
            <h2 id="creationTitle">Création d'un sujet</h2>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="{{form.title.id_for_label}}" class="form-label">Titre</label>
                </div>
                <div class="col-auto">
                    {{ form.title }}
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="{{form.description.id_for_label}}" class="form-label">Description</label>
                </div>
                <div class="col">
                    {{ form.description }}
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="{{form.destination.id_for_label}}" class="form-label">Destinations/Places</label>
                </div>
                <div class="col">
                    {{ form.destination }}
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="{{form.file.id_for_label}}" class="form-label"/>
                </div>
                <div class="col-auto">
                    {{ form.file }}
                </div>
                <div class="col-auto">
                    <div class="text-form">Optionnel</div>
                </div>
            </div>
            <div class="col-12 align-items-center">
                <button type="submit" class="btn" id="myButton">Validation</button>
            </div>
        </form>
    </div>
</div>
<div class="col-auto"></div>
{% endblock content%}


</body>
</html>