{% extends "basic.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block sidebar %}
<div class="offcanvas-header">
    <img src="{% static 'image/logo.png'%}" alt="UNamur" style="width:30%">
    <img src="{% static 'image/LApims.png'%}" alt="pimsLogo" style="width:50%">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>
<div class="offcanvas-body">
    <div class="d-flex justify-content-start align-items-center text-center" >
        <div class="navbar-nav w-100">
            <a class="nav-link cader" aria-current="page" href="#">Administration</a>
            <a class="nav-link cader active" href="../topics/">Topics</a>
            <a class="nav-link cader" href="#">My topics</a>
            <a class="nav-link cader" href="../new/">Add topic</a>
        </div>
   </div>
</div>



{% endblock sidebar %}


{% block content%}
<div class="container vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="progress-container vh-25 d-flex align-items-end" id="barContainer">
                <div class="progress w-100">
                    <div class="progress-bar custom-progress" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-step">
                            <span class="progress-circle active">1</span>
                        </div>
                    </div>
                    <div class="progress-bar custom-progress" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-step">
                            <span class="progress-circle">2</span>
                        </div>
                    </div>
                    <div class="progress-bar custom-progress" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-step">
                            <span class="progress-circle">3</span>
                        </div>
                    </div>
                    <div class="progress-bar custom-progress" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-step">
                            <span class="progress-circle">4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="table-container d-flex justify-content-center">
                <div class="table-responsive">
                    <table class="table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Titre des sujets</th>
                                <th scope="col">Description</th>
                                <th scope="col">Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for topic in topics %}
                            <tr>
                                <td class="myTableTitle">{{ topic.title }}</td>
                                <td>{{ topic.description }}</td>
                                <td>{{ topic.student }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>