<!DOCTYPE html>
<html lang="en">
{% extends "basic.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content%}
<div class="col-auto"></div>
<div class="col-auto d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="table-responsive mx-auto">
        <table class="table myTable">
            <thead>
                <tr>
                    <th scope="col">Titre des sujets</th>
                    <th scope="col">Description</th>
                    <th scope="col">Student</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td class="myTitle">{{ topic.title }}</td>
                    <td>{{ topic.description }}</td>
                    <td>{{ topic.student }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-auto"></div>
{% endblock %}

</body>
</html>