{% extends "otherRole/otherRoleTemplate.html" %}
{% block content %}
{% if elements %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="justify-content-center mb-5">
    </div>
    {% for element in elements %}
        <div class="card" style="width:40vw">
            <div class="card-header border bgunamur">
                <h5 >{{element.cours.nom}} {{element.cours.idue_id}}</h5>
            </div>
            <div class="card-header border bgunamur">
                <h5 >{{element.periode.annee}}</h5>
            </div>
            {%for delai in element.delais%}
            <div class="card-header border bg-white">
                <h5 class="card-title w-100">{{delai.delai}}</h5>
                <p class="card-text">{{delai.description}}</p>
                {% if delai.delai > current_date %}
                   <p class="card-text"><a href="{% url 'delivrable' delai.iddelivrable.iddelivrable %}">Déposer Delivrable</a></p>
            
                {% else %}
                   <p class="card-text">La date limite pour déposer ce délivrable  passée</p>
                {% endif %}
            </div>
            {%endfor%}


        </div>
    {% endfor %}
</div>
{% endif%}
{%endblock%}