{% load static %}
<div class="offcanvas-header">
    <img src="{% static 'image/logo.png'%}" alt="UNamur" style="width:30%">
    <img src="{% static 'image/LApims.png'%}" alt="pimsLogo" style="width:50%">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

</div>
<div class="offcanvas-body">
    <div class="col" >
        <div class="navbar-nav w-100">
            <a class="h4 text-center" href="/polls/home">Accueil</a>
            {% if "professeur" in user.role.role or "superviseur" in user.role.role %}
            <a class="nav-link cader" href="../gestion/">Gestion</a>
            <a class="nav-link cader" aria-current="page" href="/polls/course">Administration</a>
            <a class="nav-link cader active" href="../topics/">Topics</a>
            <a class="nav-link cader" href="/polls/modify/list">Modify topics</a>
            <a class="nav-link cader" href="../new/">Add topic</a>
            {%endif%}
            {% if "etudiant" in user.role.role %}
            <a class="nav-link cader" href="../steps/">Etapes</a>
            <a class="nav-link cader" href="/polls/course/inscription">Inscription</a>
            <a class="nav-link cader" href="/polls/course/mycourses">Mes cours</a>µ
            <a class="nav-link cader" href="/polls/echeance">Echéance</a>

            {% endif%}
        </div>
   </div>
</div>