{% extends "otherRole/otherRoleTemplate.html"%}
{% block content %}
<div class="align-items-center text-center" style="font-size: 20pt;
    font-family: Regular;
    text-align: center;
    padding: 10px;
    text-decoration: underline;">
        <h1>Réservation d'un sujet en fonction de l'ue</h1>
    </div>
<div class="container d-flex flex-column justify-content-center">

    <div class="row justify-content-center">

        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">CC</th>
                            <th scope="col">Fun</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}