{% extends "otherRole/otherRoleTemplate.html" %}


{% block headerBar %}
    {% include "otherRole/headerOtherRole.html"%}
    <header >
        <div class="bgunamur py-1">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="me-auto">
              <a href="../" style="color:white;"><i class="fa fa-lg fa-arrow-left" ></i></a>
            </div>
            <div class="mx-auto">
              <h4 class="text-white">{{ ue.idue }} - {{ ue.nom }}</h4>
            </div>
            <div class="ms-auto">
              <span></span>
            </div>
          </div>
        </div>
    </header>
{% endblock %}

{% block sidebar %}
  {% if user.role.view == "admin" %}
    {% include "admin/navbarAdmin.html"%}
  {% else %}
    {% include "otherRole/navBarOtherRole.html"%}
  {% endif %}
{% endblock %}




{% block content %}

{% if ue.isopen %}
{% include "TimelineGraph.html" %}
{% endif %}

{% if is_student %}
{% if ue.isopen %}
  <div class="container justify-content-center">
    {% if topics_of_student %}
        {% for topic in topics_of_student %}
          <div class="card text-center mb-4">
            <div class="card-header">
              Votre sujet
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ topic.titre }}</h5>
              <p class="card-text">{{ topic.descriptif }}</p>
            </div>
            <div class="card-footer text-muted">
              {% if topic.idprof %}
                {{ topic.idprof.idpersonne.nom }} {{ topic.idprof.idpersonne.prenom }}
              {% else %}
                {{ topic.idsuperviseur.idpersonne.nom }} {{ topic.idsuperviseur.idpersonne.prenom }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
    {% endif %}

    <h1 class="display-4">{{ current_etape.titre }}</h1>
    <h1 class="h5"><em><i class="fa fa-clock-o" aria-hidden="true"></i> Jusqu'au {{ current_etape.datefin }}</em></h1>
    <p class="lead">{{ current_etape.description }}</p>
    {% if current_etape.iddelivrable %}
      {% include "otherRole/echeance_etape.html" %}
    {% else %}
      {% include "otherRole/reservationSujet.html" %}
    {% endif %}
  </div>
{% else %}
  <div class="container justify-content-center">
    <p class="text-center my-5">Rien est à faire pour ce cours pour le moment.</p>
  </div>
{% endif %}
    

{% else %}
<div class="container justify-content-center">
    <div class="row row-cols-4 my-4 ">
      {% if is_owner or is_admin %}
      <div class="col my-4">
        <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title">Sujets</h5>
              <p class="card-text text-muted">Voir tous les sujets liés à ce cours</p>
              <a href="./topics" class="stretched-link"></a>
            </div>
          </div>
        </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Modalités</h5>
            <p class="card-text text-muted">Modifier les modalités de ce cours</p>
            <a href="./timeline" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Participants</h5>
            <p class="card-text text-muted">Gérer les inscrits de ce cours</p>
            <a href="./participants" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if not is_admin %}
      <div class="col my-4">
        <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title">Mes sujets</h5>
              <p class="card-text text-muted">Voir tous mes sujets</p>
              <a href="./mytopics" class="stretched-link"></a>
            </div>
          </div>
        </div>
      
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Connaitre les attributions des sujets</h5>
            <p class="card-text text-muted">Voir si mes sujets sont pris par des étudiants</p>
            <a href="./sujet/attribution" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Pré-réservation</h5>
            <p class="card-text text-muted">Attribuer le sujet à un étudiant à l'avance</p>
            <a href="./sujet/reservation" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Archivage</h5>
            <p class="card-text text-muted">Visualiser l'archivage de ce cours</p>
            <a href="./sujet/archivage" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endif %}


      
      <div class="col my-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Ajouter sujet</h5>
            <p class="card-text text-muted">Ajouter un nouveau sujet pour ce cours</p>
            <a href="./new?next={{ request.path }}" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col my-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Reproposer un sujet</h5>
            <p class="card-text text-muted">Reproposer un ancien sujet non sélectionné pour ce cours</p>
            <a href="./ReuseSubject" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endif %}



{% endblock %}