{% extends "otherRole/otherRoleTemplate.html" %}


{% block headerBar %}
    {% include "otherRole/headerOtherRole.html"%}
    <header >
        <div class="bgunamur py-1">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="me-auto">
              <a href="../" style="color:white;"><i class="fa fa-lg fa-arrow-left" ></i></a>
            </div>
            <div class="mx-auto">
              <h4 class="text-white">{{ ue.idue }} - {{ ue.nom }}</h4>
            </div>
            <div class="ms-auto">
              <span></span>
            </div>
          </div>
        </div>
    </header>
{% endblock %}

{% block sidebar %}
  {% if user.role.view == "admin" %}
    {% include "admin/navbarAdmin.html"%}
  {% else %}
    {% include "otherRole/navBarOtherRole.html"%}
  {% endif %}
{% endblock %}




{% block content %}

{% include "TimelineGraph.html" %}


<div class="container justify-content-center">
    <div class="row row-cols-4 my-4 ">
      {% if is_owner or is_admin %}
      <div class="col my-4">
        <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title">Sujets</h5>
              <p class="card-text text-muted">Voir tous les sujets liés à ce cours</p>
              <a href="./topics" class="stretched-link"></a>
            </div>
          </div>
        </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Modalités</h5>
            <p class="card-text text-muted">Modifier les modalités de ce cours</p>
            <a href="./timeline" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Participants</h5>
            <p class="card-text text-muted">Gérer les inscrits de ce cours</p>
            <a href="./participants" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if not is_admin %}
      <div class="col my-4">
        <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title">Mes sujets</h5>
              <p class="card-text text-muted">Voir tous mes sujets</p>
              <a href="./mytopics" class="stretched-link"></a>
            </div>
          </div>
        </div>
      
      <div class="col my-4">
        <div class="card h-100" >
          <div class="card-body">
            <h5 class="card-title">Réservation</h5>
            <p class="card-text text-muted">Voir si mes sujets sont pris par des étudiants</p>
            <a href="./" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endif %}


      
      <div class="col my-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Ajouter sujet</h5>
            <p class="card-text text-muted">Ajouter un nouveau sujet pour ce cours</p>
            <a href="./new" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}