{% extends "otherRole/otherRoleTemplate.html" %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    {% for element in elements %}
    <div class="card" style="width:40vw">
        <div class="card-header border bgunamur">
            <h5>{{ element.course.nom }} {{ element.course.idue_id }}</h5>
            <h5>{{ element.periode.annee }}</h5>
        </div>
        {% for delai in element.delais %}
        <div class="card-header border bg-white">
            <h5 class="card-title">{{ delai.delai.delai }}</h5>
            <p>{{ delai.delai.description }}</p>
            <form action="{% url 'echeance_and_upload' element.course.idcours element.periode.idperiode delai.delai.iddelivrable.iddelivrable %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ delai.form.as_p }}
                <button type="submit" class="btn btn-primary">
                {% if delai.already_submitted %}
                    Modifier le fichier
                {% else %}
                    Déposer le fichier
                {% endif %}
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
