{% extends "otherRole/otherRoleTemplate.html" %}
{% block content %}
{% if content %}
<div class="container justify-content-center">
    {% for element in content %}
        <div class="card my-5">
            <div class="card-header border bgunamur">
                <h4>{{element.course.idue_id}} - {{element.course.nom}}</h4>
            </div>
            {% for etape in element.etapes %}
            <div class="card-header border bgunamur">
                <h5 >{{etape.titre}}</h5>
            </div>
            
            <div class="card-header border bg-white">
                <p class="card-text">{{etape.datefin}}</p>
                <!--{% if delai.delai > current_date %}
                   <p class="card-text"><a href="{% url 'delivrable' delai.iddelivrable.iddelivrable %}">Déposer Delivrable</a></p>
            
                {% else %}
                   <p class="card-text">La date limite pour déposer ce délivrable  passée</p>
                {% endif %}-->
                <p class="card-text"><a href="../../polls/echeance/{{etape.iddelivrable.iddelivrable}}/{{element.course.idcours}}/{{element.periode.idperiode}}">Déposer Delivrable</a></p>

            </div>
            {%endfor%}


        </div>
    {% endfor %}
</div>
{% endif%}
{%endblock%}