{% extends "otherRole/otherRoleTemplate.html" %}


{% block content%}
    
    <head>
        <meta charset="UTF-8">
        <title>Historique</title>
    </head>
    <div>
        <h1 style="text-align: center; color: rgb(105,190,40);">{{title}}</h1>
    </div>
{% if archivage == False %}
    {% if annees|length == 0 %}
    <body>
    <<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

        <table class="table-striped mt-3 mb-3">
            <thead>
            <tr>
            {% for title in titles%}
                <th>{{title}}</th>
            {%endfor%}
            </tr>
        </thead>
        <tbody>
            {% for query in queryset%}
                <tr>
                <td>{{query.annee_academique}}</td>
                <td>{{query.nom_cours}}</td>
                <td>{{query.titre_sujet}}</td>
                <td>{{query.description_sujet}}</td>
                <td>{{query.mark}}</td>
                <td>{{query.nom_complet_etudiant}}</td>
                <td>{{query.nom_complet_professeur}}</td>
            {%endfor%}
        </tbody>
    </table>
            </div>
    </div>
</div>
{%endif%}
{%else%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

        <table class="table-striped mt-3 mb-3">
            <thead>
            <tr>
            {% for title in titles%}
                <th>{{title}}</th>
            {%endfor%}
            </tr>
        </thead>
        <tbody>
            {% for query in queryset%}
                <tr>
                <td>{{query.annee_academique}}</td>
                <td>{{query.nom_cours}}</td>
                <td>{{query.titre_sujet}}</td>
                <td>{{query.description_sujet}}</td>
                <td>{{query.mark}}</td>
                <td>{{query.nom_complet_etudiant}}</td>
                <td>{{query.nom_complet_professeur}}</td>
                    {% load static templatetags %}
                    <td>{% if query.delivrable_links|is_list %}
                        {% for lien in query.delivrable_links%} <a href="{{lien}}">{{lien}}</a>{%endfor%}
                    {%else%}

        <a href="{% url 'deliverablefile' query.delivrable_links %}">Lien vers le délivrable</a>                  {%endif%}</td>
            {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
</div>
    {%endif%}

    



{% endblock content%}