{% extends "course.html" %}

{% block content %}

<div class="container">
    <button class="container mt-4 mx-0 btn text-white" style="background-color:rgb(105, 105, 105);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfesseur" aria-expanded="false" aria-controls="collapseExample">
      Professeur
    </button>
    
    <div class="collapse show" id="collapseProfesseur">
        <div class="list-group">
            <a href="/polls/fiche/{{ professor.idpersonne }}" class="list-group-item list-group-item-action">{{ professor.nom }} {{ professor.prenom }} - {{ professor.mail }}</a>
        </div>
    </div>

    <button class="container mt-4 mx-0 btn text-white" style="background-color:rgb(105, 105, 105);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSuperviseur" aria-expanded="false" aria-controls="collapseExample">
        Superviseurs ({{ supervisors|length }})
    </button>
    
    <div class="collapse" id="collapseSuperviseur">
        <div class="list-group">
            {% for sup in supervisors %}
            <a href="/polls/fiche/{{ sup.idpersonne }}" class="list-group-item list-group-item-action">{{ sup.nom }} {{ sup.prenom }} - {{ sup.mail }}</a>
            {% endfor %}
        </div>
    </div>

    <button class="container mt-4 mx-0 btn text-white" style="background-color:rgb(105, 105, 105);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEtudiant" aria-expanded="false" aria-controls="collapseExample">
      Etudiants ({{ students|length }})
    </button>
    
    <div class="collapse" id="collapseEtudiant">
        <div class="list-group">
            {% for stud in students %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <a class="list-group-item-action text-black" href="/polls/fiche/{{ stud.idpersonne }}">{{ stud.nom }} {{ stud.prenom }} - {{ stud.mail }} </a>
                <a class="btn bg-danger text-white fa fa-trash-o" href="../../desinscription/{{ ue.idue }}/{{ stud.idpersonne }}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}