
<div class="container justify-content-center">
    {% if not context_reservation.failure and context_reservation.sujets|length != 0 %}

    <div class="row justify-content-center">

        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            {% for title in context_reservation.titles %}
                            <th scope="col">{{title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for sujet in context_reservation.sujets %}
                            <tr>
                                <td>{{sujet.sujet.titre}}</td>
                                <td>{{sujet.sujet.descriptif}}</td>
                                {% if sujet.sujet.idprof_id is not None%}
                                <td>{{sujet.sujet.idprof.idpersonne.nom}} {{sujet.idprof.idpersonne.prenom}}</td>
                                {% else %}
                                <td>{{sujet.sujet.idsuperviseur.idpersonne.nom}} {{sujet.idsuperviseur.idpersonne.prenom}}</td>
                                {% endif %}
                                <td>{{sujet.nbPersonnesRestantes}}/{{sujet.nbPersonnes}}</td>
                                <td><a href="./reservation-sujet/{{ sujet.sujet.idsujet }}?next={{ request.path }}" class="btn btn-primary" >Réserver le sujet</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex justify-content-center ">
    <p>{{context_reservation.failure}}</p>
</div>
{% endif %}

