{% extends "otherRole/otherRoleTemplate.html"%}
{% block content %}
<div class="align-items-center text-center" style="font-size: 20pt;
    font-family: Regular;
    text-align: center;
    padding: 10px;
    text-decoration: underline;">
        <h1>Réservation d'un sujet en fonction de l'ue</h1>
    </div>
<div class="container d-flex flex-column justify-content-center">
    {% if not failure and sujets|length != 0 %}

    <div class="row justify-content-center">

        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            {% for title in titles %}
                            <th scope="col">{{title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for sujet in sujets %}
                            <tr>
                                <td>{{sujet.sujet.titre}}</td>
                                <td>{{sujet.sujet.descriptif}}</td>
                                {% if sujet.sujet.idprof_id is not None%}
                                <td>{{sujet.sujet.idprof.idpersonne.nom}} {{sujet.idprof.idpersonne.prenom}}</td>
                                {% else %}
                                <td>{{sujet.sujet.idsuperviseur.idpersonne.nom}} {{sujet.idsuperviseur.idpersonne.prenom}}</td>
                                {% endif %}
                                <td>{{sujet.nbPersonnesRestantes}}/{{sujet.nbPersonnes}}</td>
                                <td><a href="../../../../polls/course/mycourses/reservation-sujet/{{idue}}/{{sujet.sujet.idsujet}}" class="btn btn-primary" >Réserver le sujet</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <p>{{failure}}</p>
</div>
{% endif %}

{% endblock %}