{% extends "otherRole/otherRoleTemplate.html"%}
{% block content %}
<div class="container vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        {% if subjects|length > 0  %}
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            {% for title in subject_title %}
                            <th scope="col">{{ title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                            <tr>
                                <td>{{subject.titre}}</td>
                                <td>{{subject.descriptif}}</td>
                                <td><a href="./reservation/{{subject.idsujet}}" class="btn btn-primary" >Réserver le sujet</a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <p>Tous les sujets vous concernant ont été attribués</p>
        </div>
            {%endif%}
    </div>
</div>


{% endblock %}