{% extends "course.html" %}

{% block content %}
<div class="container">
    {% if years == '[]' %}
    {% for year, subjects in years%}
    <button class="container mt-4 mx-0 btn text-white" style="background-color:rgb(105, 105, 105);" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{year}}"   aria-expanded="false" aria-controls="collapseExample">
      {{year}} ({{subjects|length}})
    </button>

    <div class="collapse show" id="collapse{{year}}">
        {% for subject in subjects%}
            {%for id, titre, desc in subject%}
                <div class="list-group">
                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>{{titre}} : {{desc}}</a>
                        <a class="btn btn-success"  href="{% url 'edit_topic' id %}?next={{ request.path }}"> Proposer</a>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% else %}
    <div class="container d-flex flex-column justify-content-center">
        <p class="text-center text-muted">
            Il n'y a aucun sujet à reproposer.
        </p>
    </div>
    {% endif %}
    
    </div>
</div>

{% endblock %}